
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    background: linear-gradient(to top right, #021627, #4caaf7);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    height: 100hv;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}
h3,h4,h5,h6,p{
    margin: 0px;
}