@media (max-width: 700px){

    .organizer-wrapper{
        justify-content: center;
        margin-right: 0px;
    }
    
}
@media (max-width: 350px){
    .portfolio__item-content{
        padding: 10px 10px;
    }
}
